extends ../layout/common.pug
block content
    h1 
        span.mr-3 User List
        a.btn.btn-primary(href="/users/create") New

    .d-flex.align-items-center
        form.ml-auto(action='/users/search', method='GET', class="d-flex")
            input(type="text", name='q' class="form-control")
            button(class="btn btn-primary ml-3") Search

    table.table.table-striped
        tr
            th Name
            th Phone
            th Actions
        each val in users
            tr
                td= val.name
                td= val.phone
                td
                    a.btn.btn-light(href="/users/" + val.id) View    














            