extends ../layout/common.pug
block content
    h1 
        span.mr-3 Products
    .d-flex.align-items-center
        form.ml-auto(action='/users/search', method='GET', class="d-flex")
            input(type="text", name='q' class="form-control")
            button(class="btn btn-primary ml-3") Search

    div.container
        div.row
            each val in products
                div.col.col-lg-3.mb-3
                    div.card-deck
                        div.card
                            img.card-img-top(src=val.image)
                            div.card-body
                                h5.card-title= val.name
                                p.card-text= val.description
                                a.btn.btn-danger(href="/cart/add/" + val.id) Add to cart

        














            