extends ../layout/common.pug
block content
    h1 New transfer
    form(method="POST")
        input(type="hidden", name="_csrf", value=csrfToken)

        .form-group
            label(for="accountId") Account
            input#accountId.form-control(type="text" name="accountId")
        
        .form-group
            label(for="amount") Amount
            input#amount.form-control(type="number" name="amount")
        button.btn.btn-primary Transfer